@font-face{
    font-family: 'lotr';
    src: url('../fonts/MorrisRoman-Black.eot');
    src: url("../fonts/MorrisRoman-Black.ttf") format("truetype");
    src: url('../fonts/MorrisRoman-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MorrisRoman-Black.woff') format('woff');
}


::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #280033;
}


::-webkit-scrollbar-thumb {
    background: gold;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}

h1{
    font-family: lotr;
}
h2{
    text-align: center;
    font-size: 35px;
}

h4{
    font-family: lotr;

    color: white;
}

h5{
    font-size: 25px;
    text-align: center;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

table, td, tr {
    border: 1px solid gold;
    background-color:  black;
}
/* bootstrap карточки в индексе*/
.card-title{
    font-family: lotr;
    color: #ffc500;
    font-size: 25px;
}
.card-titlet{
    font-family: lotr;
    color: #ffc500;
    font-size: 25px;
}

.card-deck{
    margin-right: 10px;
    margin-left: 10px;
}

.nav-link{
    font-family: 'Alegreya SC', serif;;
    font-size: 25px;
    color: #ffc500 !important;
    margin-right: 15px;
}

.nav-linka{
    font-size: 30px !important;
    color: #ffc500 !important;
    margin-left: 15px;
}

.nav-link:hover{
    color: white !important;
}


/* bootstrap */


.card-body{
    background-color: #280033;}
.shop{
    background-color: #ffffff;}
.description{
    color: #7F7F7F;
    font-size: 20px;
}
.price{
    align-content: center;
    font-weight: bold;
    font-size: 16px;
}
.form-group{
    margin-bottom: 10px;
}
.signups{
    margin-top: 16.299254526091588vh !important;
    text-align: center;
    width: 100%;
    margin-bottom: 31.3839190628328vh !important;
    border: 0px solid gray;
    padding: 50px 0px;
}
.signupss{
    margin-top: 0.299254526091588vh !important;
    text-align: center;
    width: 100%;
    margin-bottom: 20.3839190628328vh !important;
    border: 0px solid gray;
    padding: 50px 0px;
}
.headerz {
    padding: 80px;
    text-align: center;
    background-image: url("img/gendalf.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.headerz h1 {
    font-size: 70px;
    color: #ffc500;
}

.kingd{
    font-family: lotr;
    margin: 0;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

p{
    font-size: 30px;
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: relative;
}
table{
    background-color: black;
}
.maint{
    background-color: black;
    color: #ffc500;;
    font-family: lotr;
    font-size: 30px;
}
td{
    text-align: center;
}

/*для тейбла линия*/
td hr{
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: #ffc500;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

td hr:before{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #ffc500;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
td h4{
    color: white;
}
td p{
    font-family: lotr;
    font-size: 30px;
    color: white;
    text-align: left;}
/*isotope*/
.menukng{
    text-align: center;
}

.menukng ul li{
    font-family: lotr;
    font-size: 25px;
    display: inline-block;
    list-style: none;
    padding: 10px 30px;
    border:  1px solid;
    cursor: pointer;
    border-radius: 13em/3em;
    margin-right: 5px;
    margin-left: 5px;
}

.sms{
    width:100%;
    display: flex;
    justify-content: center;
}
.menukng .active{
    color: white;
    background-color:  #363636;
}
.menukng .good{
    background-color: #88A270;
}

.menukng .evil{
    background-color: #D8392B;
}


.scrollTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    background-color: #2B2D2F;
    color: gold;
    border-radius: 1px solid #fff;
    cursor: pointer;
    transition: all 1.5s ease 0s;
}
.scrollTop:hover{
    background-color: #f7f7f7;
    color: #000;
}

.rotateicon{
    color: gold;
}


hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    display: none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.fakeimg {
    background-color: #aaa;
    width: 20%;
    padding: 20px;
}

.avatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cartimg{
    vertical-align: middle;
    width: 50px;
    height: 100px;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.rating-container .form-control:hover, .rating-container .form-control:focus{
    background: #fff;
    border: 1px solid #ced4da;
}
.rating-container textarea:focus, .rating-container input:focus {
    color: #000;
}

.indexback{
    background-position: center;
    background-repeat: repeat-x;
background-image: linear-gradient(235deg,rgba(0,0,0,0.47) 0%,rgba(0,0,0,0.73) 100%),url(https://i.etsystatic.com/10566755/r/il/929ed2/2823681878/il_fullxfull.2823681878_iw4k.jpg)!important;
}

.back{
    background-position: right 0px center;
    background-repeat: no-repeat!important;
    background-image: url(https://i.etsystatic.com/10566755/r/il/929ed2/2823681878/il_fullxfull.2823681878_iw4k.jpg)!important;
}

hr.new4 {
    width:20%;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid black;
    opacity: 100%;
    display: inline-block;
    margin-bottom: 7px;
}

.map1{
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-blend-mode: normal!important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.55) 100%),url(https://www.theonering.com/wp-content/uploads/2022/03/gondor_map.jpg)!important;

}

.map2{
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-blend-mode: normal!important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.55) 98%),url(https://www.theonering.com/wp-content/uploads/2022/03/Numenor-by-Christopher-Tolkien.jpg)!important;
}

.map3{
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-blend-mode: normal!important;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.55) 100%),url(https://www.theonering.com/wp-content/uploads/2022/03/beleriand_map-300x220.jpg)!important;
}

.family1{
    background-size: cover!important;
    background-position: top!important;
    background-repeat: no-repeat!important;
    background-blend-mode: normal!important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.55)100%),url(https://m.media-amazon.com/images/M/MV5BN2EyZjM3NzUtNWUzMi00MTgxLWI0NTctMzY4M2VlOTdjZWRiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_FMjpg_UX1000_.jpg)!important;
}

.family2{
    background-size: cover!important;
    background-position: top!important;
    background-repeat: no-repeat!important;
    background-blend-mode: normal!important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.55) 100%),url(https://m.media-amazon.com/images/M/MV5BZGMxZTdjZmYtMmE2Ni00ZTdkLWI5NTgtNjlmMjBiNzU2MmI5XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_FMjpg_UX1000_.jpg)!important;
}


.family3{
    background-size: cover!important;
    background-position: top!important;
    background-repeat: no-repeat!important;
    background-blend-mode: normal!important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.55) 100%),url(https://m.media-amazon.com/images/M/MV5BNzA5ZDNlZWMtM2NhNS00NDJjLTk4NDItYTRmY2EwMWZlMTY3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg)!important;
}


.book1{
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-blend-mode: normal!important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.55) 100%),url(https://i.harperapps.com/hcuk/covers/9780007203543/x450.JPG)!important;
}


.book2{
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-blend-mode: normal!important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.35) 100%),url(https://i.harperapps.com/hcuk/covers/9780007203550/x450.JPG)!important;
}


.book3{
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-blend-mode: normal!important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.45) 100%),url(https://i.harperapps.com/hcuk/covers/9780261103597/x450.JPG)!important;
}



.textmap{
    font-size: 1.75rem!important;
    color: yellow!important;
    line-height: 2.25rem!important;
    text-shadow: 0em 0.08em 0em rgba(0,0,0,0.4)!important;
    font-family: 'Alegreya SC', serif;
    text-align: center;
    vertical-align: middle;
}

.leftk{
    border-radius: 15px;
    background-color: #e9ddc7;
    padding-top: 2em!important;
    padding-bottom: 2em!important;
    width: 100%;
}

.bmain{
 background-color: #c99868 !important;
    color: black !important;
    font-family: 'Alegreya SC', serif;
    font-size: 19px !important;
    border-color: transparent !important;
    transition: opacity 1s ease-in-out;

}

.bmain:hover{
    background-color: #c99875 !important;
    color: black !important;
    font-family: 'Alegreya SC', serif;
    border-color: transparent !important;
    opacity:1;

}
